<div class="tuning">
  <label for="tuning">Tuning: </label>
  <input id="tuning" type="number" step="1" min="300" max="500" required [(ngModel)]="tuning" />
</div>

@let note = tuner.note$ | async;
<div class="note">
  @if (note) {
  <div class="name">
    <app-note [note]="note"></app-note>
  </div>
  <app-deviation [deviation]="note.deviation"></app-deviation>
  } @else {
  <div class="name"><app-note></app-note></div>
  <app-deviation [deviation]="0" [active]="false"></app-deviation>
  }
</div>
