:host {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100dvh;
}

.note {
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 300px;

  .name {
    font-size: 8em;
    padding: 0.063em;
  }
}

.tuning {
  justify-self: center;
  align-self: end;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
