:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100dvh;
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 1em;
}
