<form [formGroup]="droneForm">
  <div class="field">
    <label class="label">Note:</label>
    <app-note-input formControlName="midi"></app-note-input>
  </div>
  <div class="field">
    <label class="label">Instrument:</label>
    <div class="radios">
      <label class="radio">
        <input type="radio" name="instrument" value="Organ" formControlName="instrument" />
        Organ
      </label>
      <label class="radio">
        <input type="radio" name="instrument" value="Sine" formControlName="instrument" />
        Sine
      </label>
    </div>
  </div>
  <div class="field">
    <label class="label">Chord:</label>
    <div class="radios">
      <label class="radio">
        <input type="radio" name="chord" value="Minor" formControlName="chord" />
        Minor
      </label>
      <label class="radio">
        <input type="radio" name="chord" value="Pure" formControlName="chord" />
        Pure
      </label>
      <label class="radio">
        <input type="radio" name="chord" value="Major" formControlName="chord" />
        Major
      </label>
    </div>
  </div>
  <label class="checkbox">
    <input type="checkbox" formControlName="chorus" name="chorus" />
    chorus?
  </label>
</form>

<div class="actions">
  @if (drone.playing()) {
  <button (click)="stop()">stop</button>
  } @else {
  <button (click)="play()">play</button>
  }
</div>
