<form [formGroup]="droneForm">
  <div class="field">
    <label class="label">Note:</label>
    <app-note-input formControlName="midi"></app-note-input>
  </div>
  <div class="field">
    <label class="label">Instrument:</label>
    <div class="radios">
      <label>
        <input
          type="radio"
          class="nes-radio"
          name="instrument"
          value="Organ"
          formControlName="instrument"
        />
        <span>Organ</span>
      </label>
      <label>
        <input
          type="radio"
          class="nes-radio"
          name="instrument"
          value="Sine"
          formControlName="instrument"
        />
        <span>Sine</span>
      </label>
    </div>
  </div>
  <div class="field">
    <label class="label">Chord:</label>
    <div>
      <label>
        <input
          type="radio"
          class="nes-radio"
          name="chord"
          value="Minor"
          formControlName="chord"
        />
        <span>Minor</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          class="nes-radio"
          name="chord"
          value="Pure"
          formControlName="chord"
        />
        <span>Pure</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          class="nes-radio"
          name="chord"
          value="Major"
          formControlName="chord"
        />
        <span>Major</span>
      </label>
    </div>
  </div>
  <div class="field">
    <label>
      <input
        type="checkbox"
        class="nes-checkbox"
        formControlName="chorus"
        name="chorus"
      />
      <span>Chorus?</span>
    </label>
  </div>
</form>

<div class="actions">
  @if (drone.playing()) {
    <button type="button" class="nes-btn is-primary" (click)="stop()">
      stop
    </button>
  } @else {
    <button type="button" class="nes-btn is-primary" (click)="play()">
      play
    </button>
  }
</div>
