nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;

  background: rgba($color: #fff, $alpha: 0.8);

  transition: all 0.4s ease-out;
  opacity: 1;

  &.ios {
    a {
      padding-bottom: 1em;
    }
  }

  &.inactive {
    opacity: 0.2;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    width: 100%;
    text-align: center;

    &.active {
      text-decoration: underline;
    }

    span {
      display: none;
    }

    &.progress {
      span {
        display: inline-block;
        content: '';
        width: 0.62em;
        height: 0.62em;

        vertical-align: middle;
        margin-right: 0.62em;

        border-radius: 100px;
        background: darkcyan;
        box-shadow: 0 0 15px darkcyan;
        animation: grow 1.6s ease-in-out infinite;

        @keyframes grow {
          0%,
          40%,
          100% {
            transform: scale(1);
          }
          20% {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
