:host {
  position: relative;
  width: 100%;
  min-width: 200px;
}

.bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  div {
    width: 4px;
    height: 45px;
    background: gray;

    &.short {
      height: 25px;
    }
    &.tune {
      height: 60px;
    }
  }
}

.pin {
  position: absolute;
  margin-left: calc(50% - 2px);

  top: 50%;
  transform: translateY(-50%);
  height: 66px;
  width: 4px;
  background: hotpink;

  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  span {
    position: relative;
    display: block;
    top: 120%;
    margin-left: -0.5em;
  }
}
