// @import '../node_modules/gardevoir/dist/index.css';
// @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');
@import '../node_modules/nes.css/css/nes.css';

html,
body {
  cursor: default;
  user-select: none;
  overflow: hidden;
  margin: 0;
  height: 100dvh;
}

a {
  &:hover {
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}

:root {
  --color-bg: #fff;
  --color-text: #212529;
  --color-success: #92cc41;
}
